*{
    padding: 0;
    margin: 0;
}
/* header */
nav li{
    list-style: none;
    margin: 20px;
}
nav{  
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul{
    display: flex;
    justify-content:flex-start;

}
nav li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    display: flex;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#2d25a0;
    margin-bottom: 100px;
}
.login-button{
    margin-right: 150px;
    padding: 20px;
    border: none;
    background-color: #e02c6d;
}
.fas{
    padding: 10px;

}
.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
}
.header-content img{
    width: 450px;
}
.header-title p{
    color: white;
    font-size: 45px;
    font-weight: 800;
}
.watch-button{
    font-family: 'Poppins', sans-serif;
    background-color: #e02c6d;
    size: 400px;
    color: honeydew;
    border: none;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}
/* player-cards-section */
.player-01{
    width: 270px;
    padding: 0px 10px 10px;
    box-shadow: 7px 7px 17px rgb(212, 208, 208);
    margin-left: 30px;
}

.player-image{
    width: 100%;
    margin: 10px 40px 20px 0px;
}
.name-style{
    font-family: 'Poppins', sans-serif;
    }
    p{
        color: gray;
        font-weight: 400;
        padding-top: 10px;
    }
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    
    /* highlights-section */

    .highlights-section{
        display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    }
    
    .login-button{
        margin-top: 20px;
         font-family: 'Poppins', sans-serif;
         background-color: #e02c6d;
         size: 400px;
         padding: 10px;
         color: honeydew;
         border: none;
         height: 50px;
         width: 150px;
        
    }
    button:hover{
        background-color: orange;
    }

    .highlights-section img{
        width: 400px;
        height: 300px;
    }

    /* footer-section
     */
     .finish{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }
    .finish img{
        width: 400px;
        }

    .social{
        display: flex;
        justify-content: space-around;
        }
    .social a{
        font-size: 30px;
        color: gray;
        margin-top: 10px;
        margin-left: 20px;
    }

    footer{
        padding: 20px;
    }

    @media only screen and (max-width: 600px) {
        
        nav ul{
            display: none;
        }
        nav  {
            margin: 0px;
            padding: 25px;
        }
        .header-content img{
            width: 320px;
            padding-top: 30px;
        }
        .player-01{
            margin-bottom: 25px;
        }
        .highlights-section img{
            width: 350px;
            height: 200px;
        }
        .text-container{
            padding: 15px;
            text-align: center;
        }
        .text-container button{
            margin-left: 160px;
        }
        .finish img{
            width: 250px;
            margin-top: 24px;
        }
        footer{
            padding: 17px;
        }
    }